// xl - 1280
// lg - 1024
// md - 768
// sm - 640

font('Prompt','Prompt-Light', 300)
font('Prompt','Prompt-Regular', 400)
font('Prompt','Prompt-Bold', 700)
font('Prompt','Prompt-ExtraBold', 800)

$font = 'Prompt'

//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 640)

//Extends size
$listExtend = (4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(20),\
							(24 20),\
							(32 22),\
							(36 24),\
							(48 32 24),\
							(64 48 24),\
							(80 64 32),\
							(100 60 40),\
							(120 60 40)


//Grid gap size
$gridGap = (4),\
					(8),\
					(12),\
					(16),\
					(20 16),\
					(24 16),\
					(32 20),\
					(40 24)

$listType = ("xs" 12 10),\
						("sm" 16 14),\
						("main" 18 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 28),\
						("xl" 60 34)

$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 100)


$listBr = (8 10 20)

$listFw = (300 400 700 800)

$listWmax = (500 545 640 820 1320)


//color
$mark = #7ECA1D

$linkColor = black

$gray = #565762
$grayLight = #C4C5CC
$snow = #F1F2F6

$white = white
$green = #7ECA1D
$greenDark = #65A217
$greenLight = #E6F2D6

$blue = #0065BD
$blueLight = #D4EBFF
$sea = #1DD0C7
$seaLight = #D5F9F7

$red = #ff4f4f

//TYPOGRAPHY COLORS
$typeMain = black
$typePrimary = #5c5e6e
$typeSecondary = #9699a8
$typeDisable = #c8cad4

//UI COLORS
$borderHover = #bfc0c9
$fieldBackground = #f1f2f6
$border = $border-color = #dcdfe8
$overlay = rgba(32, 34, 44, 0.5)

//STATE COLORS
$stateErrorBG = #ffe1e6
$stateError = #d00025

$stateSuccessBG = #edfdd9
$stateSuccess = #5da600

$stateWarningBG = #ffedd8
$stateWarning = #ff8a00

$colors = {
	'mark':$mark,
	'linkColor':$linkColor,
	'gray':$gray,
	'grayLight':$grayLight,
	'snow':$snow,
	'white':$white,
	'green':$green,
	'greenDark':$greenDark,
	'greenLight':$greenLight,
	'blue':$blue,
	'blueLight':$blueLight,
	'sea':$sea,
	'seaLight':$seaLight,
	'red':$red,
	'typeMain':$typeMain,
	'typePrimary':$typePrimary,
	'typeSecondary':$typeSecondary,
	'typeDisable':$typeDisable,
	'fieldBackground':$fieldBackground,
	'stateErrorBG':$stateErrorBG,
	'stateError':$stateError,
	'stateSuccessBG':$stateSuccessBG,
	'stateSuccess':$stateSuccess,
	'stateWarningBG':$stateWarningBG,
	'stateWarning':$stateWarning,
	'border':$border-color
}
