include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.bg--snow
		.main-cont
			.pt-80.pb-80
				.contract-box.br--20.bg--white
					.type--xl.type--800.mb-48.type--mid Your subscription details
					.type--lg.type--700.mb-20.type--mid Your personal details
					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row
							input(type="text"  class="input" placeholder="First name")
						.input-row
							input(type="text"  class="input" placeholder="Last name")
						.input-row
							input(type="text"  class="input" placeholder="Phone number")

					.type--lg.type--700.mb-20.type--mid Your delivery details
					.input-row.mb-32
						input(type="text"  class="input" placeholder="Search your address")
					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row
							input(type="text"  class="input" placeholder="Address line 1")
						.input-row
							input(type="text"  class="input" placeholder="Address line 2")
						.input-row
							input(type="text"  class="input" placeholder="Town/City")
						.input-row
							input(type="text"  class="input" placeholder="Postcode")
					.mb-48
						+checkbox('Enter address manually','checked')

					.type--mdx.type--700.mb-20.type--mid Non-contact deliveries will be made to the address above.
					.wmax-640.ml-a.mr-a.mb-20
						.type--main.type--mid If you are unable to take delivery personally please provide details of a safe place where our couriers can leave your Munchfit orders.
					.input-row.mb-32
						input(type="text"  class="input" placeholder="Safe Place Location")
					.input-row.mb-80
						textarea(name="text", cols="30", rows="6" class="input" placeholder="Special Instructions")

					.type--lg.type--700.mb-20.type--mid Your delivery
					.type--main.type--mid.mb-20 Our standard delivery days are Saturday and Tuesday before 5pm.
					.g.g-2.sm__g-1.gap-32.mb-24
						.input-row
							input(type="text"  class="input" placeholder="1st delivery")
						.input-row
							input(type="text"  class="input" placeholder="2st delivery")
					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row.f.f-aife
							.type--700 Cost per delivery <span class="type--700 type--lg">£ 4.99</span>
						.input-row.f.f-aife
							.type--main Your first delivery will be on <span class="type--700">Saturday 6 March 2021</span>

					.type--lg.type--700.mb-20.type--mid Your billing address


					.mb-20.js-switch(data-group="billing" )
						+radio('This is the same as your delivery address','billing','checked')
					.mb-20.js-switch(data-group="billing" data-item="billingAdd")
						+radio('Add your billing address','billing')

					.js-switch-cont.hidden(data-group="billing" data-item="billingAdd")
						.input-row.mb-32
							input(type="text"  class="input" placeholder="Search your address")

						.js-switch-cont.hidden(data-item="addressValue")
							.g.g-2.sm__g-1.gap-32.mb-32
								.input-row
									input(type="text"  class="input" placeholder="Address line 1")
								.input-row
									input(type="text"  class="input" placeholder="Address line 2")
								.input-row
									input(type="text"  class="input" placeholder="Town/City")
								.input-row
									input(type="text"  class="input" placeholder="Postcode")
						.mb-48.active.js-switch(data-item="addressValue")
							+checkbox('Enter address manually')

					.g.g-2.sm__g-1.gap-32.mb-48
						.input-row
							input(type="text"  class="input" placeholder="Referal code")
						.input-row
							input(type="text"  class="input" placeholder="Discount code")
					.mb-48
						+checkbox('I accept the <a href="#">Terms and Conditions</a>')
					.f.f-mid
						.btn.btn--lg.btn--mark.btn--mobile Proceed to Payment

	+footer()
	+modal()
include ./block_html/_script.pug
