include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.pt-100.pb-100
		.main-cont--md
			.text
				h1.type--mid Privacy Policy
				p Please read the privacy policy carefully to know how we hold and process your personal information. <br> You can rely on us not only in exclusive diet meals, but also your safety.
				ul
					li We use only legit methods in collecting any information about website visitors. It includes your name and contact information you provided to us, your delivery orders and cookie information.
					li We use your personal information only for one purpose to provide you with the best service possible. We also collect information about appropriate time to contact you for making orders and also if you put a subscription on a hold. We undertake best solutions to keep your information secret from a third person.
					li We use client’s information only to improve the quality and speed of our response. It’s a priority in our business based on importance and necessity to deliver you fresh meals. After creating an account you can completely relate to us because our activity is based on license and legislation. Security concern is one of the key things of our activity. We try to minimize all risks possible and let you only enjoy the best recipes and precise delivery.
					li We may use your email to notify you about promotions or new recipes come out or any other relevant information. We use Google Analytics for SEO purposes. We know your IP, browser, login, the full URLs of the pages.
					li We use client’s information for surveys to improve our company.
					li Your rights are protected under the law of the UK.
					li We are able to modify our privacy policy from time to time and we’ll inform you about changes.
					li We intend to minimize all issues and leaks of information.
					li We will keep your personal information safely.
					li If you’ve got any remarks, questions or propositions please contact our support team.
	+footer()
include ./block_html/_script.pug
