include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont--md
			.text
				h1.type--mid Terms of Use
				h4 Подзаголовок 1 PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE
				h4 Подзаголовок 2 BY USING OUR SITE YOU ACCEPT THESE TERMS
				p Текст By using our Site, you confirm that you accept these terms of use and that you agree to comply with them.

				p If you do not agree to these terms, you must not use our Site.

				p We recommend that you print a copy of these terms for future reference.

				ul
					li Our Privacy Policy. See further under How we may use your personal information
					li Our Cookie Policy, which sets out information about the cookies on our Site.
	+footer()
include ./block_html/_script.pug
