-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Конструктор',
			'href': 'config'
		},
		{
			'name': 'Оформление',
			'href': 'order'
		},
		{
			'name': 'Спасибо за заказ',
			'href': 'total'
		},
		{
			'name': 'Terms of Use',
			'href': 'term'
		},
		{
			'name': 'Privacy Policy',
			'href': 'policy'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

-
	racionList = [
		[
			[
				"Somon, sebze ve süzme peynir ile taze rulo",
				"Patlıcanlı ve biber soslu dana köfte ve karabuğday eriştesi",
				"Bal-hardal soslu brokoli ve karnabahar ile hindi kızartma",
				"Kırmızı pancar humusu ile fırında hazırlanmış patates ve kuru domates sosu"
			],
			[
				"Chia tohumu puding ile mango ve kuru meyve tahıl karışımından oluşan çilekli yoğurt ve kaju fıstığı",
				"Kahvaltı kasesi ile Haşlanmış yumurta, tütsülenmiş somon, avokado ve soya fasulyesi",
				"Füme hindi, üzüm ve pişmiş nohut salatası",
				"Nar sosu, patates ve limon yaprakları ile fırında pişmiş Dorado balığı",
				"Mısır eriştesi ve şitaki mantarlı Asya salatası"
			],
			[
				"Süzme peynir ve yaban mersinli protein krepi",
				"Hindistan cevizi sütü ve kaju fıstığı ile yulaf lapası",
				"Karnabahar pilavı ile fırında biber sosla pişmiş dana eti",
				"Ispanak soslu Palak paneerli safran basmati pilavı",
				"Lahana, bal kabağı tohumu ve bademli sebzeli kek"
			],
			[
				"Yaban mersini ve hindistan cevizli yoğurt",
				"Avokado ve fırında pişmiş biberli tost",
				"Kinoa, brokoli ve kereviz kökü kremalı sos ile fırında pişirilmiş somon",
				"Kaju soslu kuskus ve roka salatası ile ızgarada pişirilmiş levrek filetosu",
				"Avokado köpüğü ile fırında pişirilmiş sebze, tatlı patates, rezene ve tütsülenmiş kırmızı biber sotesi",
			],
			[
				"Kahvaltı kasesi ile Haşlanmış yumurta, tütsülenmiş somon, avokado ve soya fasulyesi",
				"Hindistan cevizi sütü ve yaban mersini reçeli ile yulaf lapası",
				"Kırmızı fasulye, mısır ve  hindi ile hazırlanmış Meksika burritosu",
				"Yumurtalı erişte, Çin lahanası ve kızarmış tavuk ile Ramen çorbası",
				"Avokado humusu ve taze domates sosu ile fırında pişirilmiş tatlı patates"
			],
			[
				"Somon, sebze ve süzme peynir ile taze rulo",
				"Patlıcanlı ve biber soslu dana köfte ve karabuğday eriştesi",
				"Bal-hardal soslu brokoli ve karnabahar ile hindi kızartma",
				"Kırmızı pancar humusu ile fırında hazırlanmış patates ve kuru domates sosu",
			],
		],
		[
			[
				"Somon, sebze ve süzme peynir ile taze rulo",
				"Patlıcanlı ve biber soslu dana köfte ve karabuğday eriştesi",
				"Bal-hardal soslu brokoli ve karnabahar ile hindi kızartma",
				"Kırmızı pancar humusu ile fırında hazırlanmış patates ve kuru domates sosu",
			],
			[
				"Chia tohumu puding ile mango ve kuru meyve tahıl karışımından oluşan çilekli yoğurt ve kaju fıstığı",
				"Füme hindi, üzüm ve pişmiş nohut salatası",
				"Nar sosu, patates ve limon yaprakları ile fırında pişmiş çipura",
				"Mısır eriştesi ve şitaki mantarlı Asya salatası",
			],
			[
				"Süzme peynir, yaban mersini, hindistan cevizi sütü ve kaju fıstıklı yulaf lapalı protein krepi",
				"Karnabahar pilavı ile fırında biber sosla pişmiş dana eti",
				"Ispanak soslu Palak paneerli safran basmati pilavı",
				"Lahana, bal kabağı tohumu ve badem fıstıklı sebzeli kek",
			],
			[
				"Yaban mersini ve hindistan cevizli yoğurt ile Avokado ve fırında pişmiş biberli tost",
				"Kinoa, brokoli ve kereviz kökü kremalı sos ile fırında pişirilmiş somon",
				"Kaju soslu kuskus ve roka salatası ile ızgarada pişirilmiş levrek filetosu",
				"Avokado köpüğü ile fırında pişirilmiş sebze, tatlı patates, rezene ve tütsülenmiş kırmızı biber sotesi",
			],
			[
				"Kahvaltı kasesi ile Haşlanmış yumurta, tütsülenmiş somon, avokado ve soya fasulyesi",
				"Kırmızı fasulye, mısır ve  hindi ile hazırlanmış Meksika burritosu",
				"Yumurtalı erişte, Çin lahanası ve kızarmış tavuk ile Ramen çorbası",
				"Avokado humusu ve taze domates sosu ile fırında pişirilmiş tatlı patates",
			],
			[
				"Güneşte kurutulmuş domates ve mantar ile karıştırılmış soya peyniri",
				"Aioli soslu sebzeli ve bulgurlu tavuk",
				"Karamelize soğanlarla ve pişmiş balkabağı ile pişirilmiş somon bifteği",
				"Domates soslu ve provence bitkili sebzeli güveç",
			],
			[
				"Tofu scramble with sun dried tomatoes and mushrooms",
				"Chicken in aioli sauce, vegetables and bulgur",
				"Salmon steak with caramelized onions and a side dish of baked pumpkin",
				"Vegetable stew with provencal herbs in tomato sauce",
			],
		]
	]




