<!DOCTYPE html>
!= "<html>"
	head
		meta(charset="UTF-8")
		meta(name='viewport' content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		
		//colors-tabs
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		meta(name="facebook-domain-verification" content="2l4bewd21r0lunoz14d796a3boql7k")

		link(rel="icon", type="image/x-icon" href="img/favicon.ico")

		//SEO
		title Şeker, glüten, trans yağ ve koruyucu madde içermeyen hazır yemek teslimatı
		meta(name="description" itemprop="description" content="Çiftlik ürünlerinin saf tadı, doğal malzemeler kullanılarak hazırlanan tüm yemekler, koruyucu madde, trans yağ içermez")

		//build:css ./css/vendor.css
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick-theme.css")
		//endbuild

		link(rel="stylesheet", href="./css/style.css#2311")
		link(rel="stylesheet", href="./css/style-edit.css")

	include _const.pug
	include _mixin.pug
	!= "<body >"
